CNES_DATA/
LEIA_ME_COMPLETO.pdf
venv
venv/
IBGE_DATA/
__pycache__
CBO_DATA/
SIA_DATA/*.dbc
SIA_DATA/*.dbf
*.log
.env
.env.*
*.env
BACKUP_PARTES_3_E_5/
RELATORIO_FAPESP_AJUSTADO.tex
Outputs&Codigo/OPINIAO_PUBLICA/
map_server/htdocs/Outputs&Codigo/OPINIAO_PUBLICA/
